@import url('http://fonts.cdnfonts.com/css/new-super-mario-font-u');
.header {
  font-family: 'New Super Mario Font U', sans-serif;
  font-size: 4rem;
  color: rgb(255, 255, 255);

  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
}
